@model IEnumerable<Web_dje.Models.OSOBA>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-striped table-inverse">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.OIB)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PREZIME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ID_OSOBA)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.OIB)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IME)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PREZIME)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ID_OSOBA)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.OIB }) |
            @Html.ActionLink("Details", "Details", new { id=item.OIB }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.OIB })
        </td>
    </tr>
}

</table>
